@value makerLightYellow,makerGrey  from '../../common/color.css';

.footer{
    width: 100%;
    background: makerLightYellow;
    text-align: center;
}
.title{
    font-size: 0.8rem;
    font-weight: 700;
    color: makerGrey;
}